@import '../variables';


.pizza-block {
  width: 280px;
  text-align: center;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 0px 0px 2px 2px rgba(211, 211, 211, 0.5);
  border: 1px solid white;
  border-radius: 15px;


  &-wrapper{
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all ease-in-out 0.2s;

    &:hover{
     transform: scale(1.05);
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__description{
    height: 55px;
    overflow: hidden;
    border: 2px solid #ECECEC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: .05em;
  }
}
